<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.zhaw.budgettool"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
        <application android:label="@string/app_name">
        
        <activity android:name="navigation.StartActivity"
                android:label="@string/app_nav_home_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="navigation.LoginActivity"
                android:label="@string/loginLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        
        <activity android:name="navigation.AppNavHomeActivity"
                android:label="@string/app_nav_home_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name="navigation.CreateExpenseActivity"
                  android:label="@string/create_expense_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivity" />
        </activity>

        <activity android:name="navigation.ExpensesOverviewActivity"
                  android:label="@string/expense_overview_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivity" />
        </activity>

        <activity android:name="navigation.AccountSettingsActivity"
                  android:label="@string/account_settings_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivity" />
        </activity>
        
        <activity android:name="navigation.JoinGroupActivity"
            	  android:label="@string/joinGroupLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivcity" />
        </activity>
        
        <activity android:name="navigation.CreateGroupActivity"
            	  android:label="@string/createGroupButtonLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivcity" />
        </activity>

        <activity android:name="navigation.GroupSettingsActivity"
                  android:label="@string/group_settings_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivity" />
        </activity>
        
        <activity android:name="navigation.LeaveGroupActivity"
                  android:label="@string/leave_group_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivity" />
        </activity>

        <activity android:name="navigation.RefreshActivity"
                  android:label="@string/refresh_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivity" />
        </activity>
        
                
       <activity android:name="navigation.LogoutActivity"
            	  android:label="@string/logoutLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="navigation.AppNavHomeActivcity" />
        </activity>
        
    </application>
   	

	

</manifest>